{% extends "layout.html" %}


{% block title %} Projects {% endblock %} 

{% block content %}      
{%load static%}
        <!-- Page header -->
        <div class="page-header d-print-none text-white">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                  <div class="page-pretitle">
                    Overview
                  </div>
                  <h2 class="page-title">
                    Projects
                  </h2>                
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <span class="d-none d-sm-inline">
                    <a href="#" class="btn btn-dark">
                      New view
                    </a>
                  </span>
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-project">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                    Create new Project
                  </a>
                  <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-project" aria-label="Create new report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                  </a>
                </div>
              </div>              
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-md-6 col-xl-3">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-primary text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-box-seam" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 3l8 4.5v9l-8 4.5l-8 -4.5v-9l8 -4.5"></path>
                            <path d="M12 12l8 -4.5"></path>
                            <path d="M8.2 9.8l7.6 -4.6"></path>
                            <path d="M12 12v9"></path>
                            <path d="M12 12l-8 -4.5"></path>
                         </svg>                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{projects|length}} active Projects
                        </div>
                        <div class="text-muted">
                          {{archived|length}} archived
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          78 Orders
                        </div>
                        <div class="text-muted">
                          32 shipped
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-red text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          1352 Members
                        </div>
                        <div class="text-muted">
                          163 registered today
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-yellow text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/message -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" /><path d="M8 9l8 0" /><path d="M8 13l6 0" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          132 Comments
                        </div>
                        <div class="text-muted">
                          16 waitings
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-vcenter card-table table-striped  ">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Creator</th>
                          <th>Startdate</th>
                          <th>Members</th>
                          <th class="w-1"></th>
                          <th class="w-1"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {%if False %}
                          <tr>                          
                            <td>
                            
                            You have no projects
                            
                            </td> 
                          </tr>
                        {%endif %}

                        {%for proj in projects%}
                          <tr>
                            <td class="text-muted">{{proj.id}}</td>
                            <td>{{proj.name}}</td>
                            <td class="text-muted" >{{proj.creator.first_name}} {{proj.creator.last_name}}</td>
                            <td class="text-muted" >{{proj.startdate|date:'Y-m-d'}}</td>
                            <td class="text-muted" >
                              {%for member in proj.members.all%}
                                {{member.username}}/ 
                              {%endfor %}
                              
                            </td>
                            <td>
                              <a href="{%url 'detail' proj.id%}">Edit</a>
                            </td>
                            <td>                
                              <a href="#" data-bs-toggle="modal" data-bs-target="#modal-danger{{proj.id}}" data-target="#modal-danger{{dis.id}}"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 7l16 0"></path>
                                <path d="M10 11l0 6"></path>
                                <path d="M14 11l0 6"></path>
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                              </svg></a>
                            </td>
                            <div class="modal modal-blur fade" id="modal-danger{{proj.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  <div class="modal-status bg-danger"></div>
                                  <div class="modal-body text-center py-4">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
                                    <h3>Are you sure?</h3>
                                    <div class="text-muted">Do you really want to delete Project: {{proj.name}}?<br> This can not be undone.</div>
                                  </div>
                                  <div class="modal-footer">
                                    <div class="w-100">
                                      <div class="row">
                                        <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                            Cancel
                                        </a></div>
                                        <div class="col"><a href="{%url 'delete_project' proj.id%}" class="btn btn-danger w-100">
                                            Delete Project
                                        </a></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </tr>
                        {%endfor%}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Top Pages</h3>
                    <table class="table table-sm table-borderless">
                      <thead>
                        <tr>
                          <th>Page</th>
                          <th class="text-end">Visitors</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="progressbg">
                              <div class="progress progressbg-progress">
                                <div class="progress-bar bg-primary-lt" style="width: 82.54%" role="progressbar" aria-valuenow="82.54" aria-valuemin="0" aria-valuemax="100" aria-label="82.54% Complete">
                                  <span class="visually-hidden">82.54% Complete</span>
                                </div>
                              </div>
                              <div class="progressbg-text">/</div>
                            </div>
                          </td>
                          <td class="w-1 fw-bold text-end">4896</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="progressbg">
                              <div class="progress progressbg-progress">
                                <div class="progress-bar bg-primary-lt" style="width: 76.29%" role="progressbar" aria-valuenow="76.29" aria-valuemin="0" aria-valuemax="100" aria-label="76.29% Complete">
                                  <span class="visually-hidden">76.29% Complete</span>
                                </div>
                              </div>
                              <div class="progressbg-text">/form-elements.html</div>
                            </div>
                          </td>
                          <td class="w-1 fw-bold text-end">3652</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="progressbg">
                              <div class="progress progressbg-progress">
                                <div class="progress-bar bg-primary-lt" style="width: 72.65%" role="progressbar" aria-valuenow="72.65" aria-valuemin="0" aria-valuemax="100" aria-label="72.65% Complete">
                                  <span class="visually-hidden">72.65% Complete</span>
                                </div>
                              </div>
                              <div class="progressbg-text">/index.html</div>
                            </div>
                          </td>
                          <td class="w-1 fw-bold text-end">3256</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="progressbg">
                              <div class="progress progressbg-progress">
                                <div class="progress-bar bg-primary-lt" style="width: 44.89%" role="progressbar" aria-valuenow="44.89" aria-valuemin="0" aria-valuemax="100" aria-label="44.89% Complete">
                                  <span class="visually-hidden">44.89% Complete</span>
                                </div>
                              </div>
                              <div class="progressbg-text">/icons.html</div>
                            </div>
                          </td>
                          <td class="w-1 fw-bold text-end">986</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="progressbg">
                              <div class="progress progressbg-progress">
                                <div class="progress-bar bg-primary-lt" style="width: 41.12%" role="progressbar" aria-valuenow="41.12" aria-valuemin="0" aria-valuemax="100" aria-label="41.12% Complete">
                                  <span class="visually-hidden">41.12% Complete</span>
                                </div>
                              </div>
                              <div class="progressbg-text">/docs/</div>
                            </div>
                          </td>
                          <td class="w-1 fw-bold text-end">912</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="progressbg">
                              <div class="progress progressbg-progress">
                                <div class="progress-bar bg-primary-lt" style="width: 32.65%" role="progressbar" aria-valuenow="32.65" aria-valuemin="0" aria-valuemax="100" aria-label="32.65% Complete">
                                  <span class="visually-hidden">32.65% Complete</span>
                                </div>
                              </div>
                              <div class="progressbg-text">/accordion.html</div>
                            </div>
                          </td>
                          <td class="w-1 fw-bold text-end">855</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="progressbg">
                              <div class="progress progressbg-progress">
                                <div class="progress-bar bg-primary-lt" style="width: 16.22%" role="progressbar" aria-valuenow="16.22" aria-valuemin="0" aria-valuemax="100" aria-label="16.22% Complete">
                                  <span class="visually-hidden">16.22% Complete</span>
                                </div>
                              </div>
                              <div class="progressbg-text">/datagrid.html</div>
                            </div>
                          </td>
                          <td class="w-1 fw-bold text-end">764</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="progressbg">
                              <div class="progress progressbg-progress">
                                <div class="progress-bar bg-primary-lt" style="width: 8.69%" role="progressbar" aria-valuenow="8.69" aria-valuemin="0" aria-valuemax="100" aria-label="8.69% Complete">
                                  <span class="visually-hidden">8.69% Complete</span>
                                </div>
                              </div>
                              <div class="progressbg-text">/datatables.html</div>
                            </div>
                          </td>
                          <td class="w-1 fw-bold text-end">686</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              
              
              
                
            </div>
          </div>
        </div>

      



    <div class="modal modal-blur fade" id="modal-project" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>          

          <form method="POST">
            {% csrf_token %}
            <div class="modal-body">
              
              <div class="mb-3">                
              <div class="row">    
                {{ form.as_p }}          
              </div>
              <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                Members
                {%for result in userdisplay%}
                  {%if result.id != user.id %}
                    <label class="form-selectgroup-item flex-fill">
                      <input type="checkbox" name="form-project-manager[]" value="{{result.id}}" class="form-selectgroup-input" >
                      <div class="form-selectgroup-label d-flex align-items-center p-3">
                        <div class="me-3">
                          <span class="form-selectgroup-check"></span>
                        </div>
                        <div class="form-selectgroup-label-content d-flex align-items-center">
                          <span class="avatar me-3" style="background-image: url(./static/avatars/000m.jpg)"></span>
                          <div>
                            <div class="font-weight-medium">{{result.first_name}} {{result.last_name}}- {{result.username}}</div>
                            <div class="text-muted">{{result.email}}</div>
                          </div>
                        </div>
                      </div>
                    </label>
                  {%endif%}
                {%endfor%} 
              </div>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                Cancel
              </a>
              <button type ="submit" class="btn btn-primary ms-auto">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                Create new Project
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endblock content %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}

    <!-- Libs JS -->
    <script src="{%static 'dist/libs/litepicker/dist/litepicker.js'%}" defer></script>

    <!-- Tabler Core -->
    <<script src="{% static 'dist/js/tabler.min.js'%}" defer></script>
    <script src="{% static 'dist/js/demo.min.js'%}" defer></script>

    <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
        window.Litepicker && (new Litepicker({
          element: document.getElementById('startdate'),
          buttonText: {
            previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
            nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
          },
        }));
      });
      // @formatter:on
    </script>

  {% endblock javascripts %}