{% extends "layout.html" %}


{% block title %} Dashboard {% endblock %} 

{% block content %}
{%load static%}

  <div class="page-header d-print-none text-white">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            Overview
          </div>
          <h2 class="page-title">
            Dashboard
          </h2>
        </div>
        <!-- Page title actions -->
        
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div id="chart">
                <script>
                  var options = {
                    series: [{{stats.other}}, {{stats.member}}, {{stats.created}}],
                    chart: {
                    height: 350,
                    type: 'radialBar',
                  },
                  plotOptions: {
                    radialBar: {
                      dataLabels: {
                        name: {
                          fontSize: '22px',
                        },
                        value: {
                          fontSize: '16px',
                        },
                        total: {
                          show: true,
                          label: 'Total Projects:',
                          formatter: function (w) {
                            // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                            return {{projects|length}}
                          }
                        }
                      }
                    }
                  },
                  labels: ['Not Member', 'Member', 'Created'],
                  };
          
                  var chart = new ApexCharts(document.querySelector("#chart"), options);
                  chart.render();
                </script>
              </div>   
            </div>       
          </div>          
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div id="chart2">
                <script>
                  var options = {
                    series: [{{stats.never}}, {{stats.half}}, {{stats.complete}}],
                    chart: {
                    height: 350,
                    type: 'radialBar',
                  },
                  plotOptions: {
                    radialBar: {
                      dataLabels: {
                        name: {
                          fontSize: '22px',
                        },
                        value: {
                          fontSize: '16px',
                        },
                        total: {
                          show: true,
                          label: 'Total Assessments:',
                          formatter: function (w) {
                            // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                            return {{stats.assessments}}
                          }
                        }
                      }
                    }
                  },
                  labels: ['Assessments never filled out', 'Assessments over 50% Complete', 'Assessments Completed'],
                  };
          
                  var chart2 = new ApexCharts(document.querySelector("#chart2"), options);
                  chart2.render();
                </script>
              </div>
            </div>
          </div>          
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div id="chart3">
                <script>
                  var options = {
                    series: [{{stats.high}}, {{stats.low}}],
                    chart: {
                    height: 350,
                    type: 'radialBar',
                  },
                  plotOptions: {
                    radialBar: {
                      dataLabels: {
                        name: {
                          fontSize: '22px',
                        },
                        value: {
                          fontSize: '16px',
                        },
                        total: {
                          show: true,
                          label: 'Average Maturity:',
                          formatter: function (w) {
                            // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                            return {{stats.avg|floatformat:2}}
                          }
                        }
                      }
                    }
                  },
                  labels: ['Projects Maturity of 5', 'Projects Maturity under 3'],
                  };
          
                  var chart3 = new ApexCharts(document.querySelector("#chart3"), options);
                  chart3.render();
                </script>
              </div>
            </div>
          </div>          
        </div>
        
        <div class="card">          
          <div class="card-body">
            <h3 class="card-title">Average Maturity per Project per Stage</h3>
            <div id="chart-demo-line" class="chart-lg"></div>
          </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/libs/apexcharts/dist/apexcharts.min.js" defer></script>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-line'), {
              chart: {
                type: "line",
                fontFamily: 'inherit',
                height: 240,
                parentHeightOffset: 0,
                toolbar: {
                  show: true,
                },
                animations: {
                  enabled: false
                },
              },
              fill: {
                opacity: 1,
              },
              stroke: {
                width: 2,
                lineCap: "round",
                curve: "straight",
              },
              series: [
                {%for proj in projects%}
                {
                
                name: '{{proj.name}}',
                data: {{proj.data_values}}
                },
                {%endfor %}
              ],
              tooltip: {
                theme: 'dark'
              },
              grid: {
                padding: {
                  top: -20,
                  right: 0,
                  left: -4,
                  bottom: -4
                },
                strokeDashArray: 4,
              },
              xaxis: {
                labels: {
                  padding: 0,
                },
                tooltip: {
                  enabled: false
                },
                type: 'category',
              },
              yaxis: {
                labels: {
                  padding: 4
                },
              },
              labels: {{stages|safe}},
              colors: [
              {%for proj in projects %}
                '{{proj.color}}',
              {%endfor%}],
              legend: {
                show: true,
                position: 'bottom',
                offsetY: 12,
                markers: {
                  width: 10,
                  height: 10,
                  radius: 100,
                },
                itemMargin: {
                  horizontal: 8,
                  vertical: 8
                },
              },
            })).render();
          });
        </script>

                
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">IRP Distribution per Project</h3>
              <div id="chart-mentions" class="chart-lg"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Project IRP assessments</h3>
            </div>
            <table class="table card-table table-vcenter">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>maturity</th>
                  <th>Progres</th>
                </tr>
              </thead>
              <tbody>
                {%for proj in projects%}
                <tr>
                  <td>{{proj.name}}</td>
                  <td>{{proj.avg}}</td>
                  <td class="w-50">
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-primary" style="width: {{proj.perc}}%"></div>
                    </div>
                  </td>
                </tr>
                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Average Maturity per Stage</h3>
            <div id="chart-tasks-overview"></div>
          </div>
        </div>
        
        
        
        
        
        
        
        
      </div>
    </div>
  </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Libs JS -->
<script src="{% static 'dist/libs/apexcharts/dist/apexcharts.min.js'%}" defer></script>
<script src="{% static 'dist/libs/jsvectormap/dist/js/jsvectormap.min.js'%}" defer></script>
<script src="{% static 'dist/libs/jsvectormap/dist/maps/world.js'%}" defer></script>
<script src="{% static 'dist/libs/jsvectormap/dist/maps/world-merc.js'%}" defer></script>
<!-- Tabler Core -->
<script src="{% static 'dist/js/tabler.min.js'%}" defer></script>
<script src="{% static 'dist/js/demo.min.js'%}" defer></script>



<script>
// @formatter:off
document.addEventListener("DOMContentLoaded", function () {
    window.ApexCharts && (new ApexCharts(document.getElementById('chart-mentions'), {
        chart: {
            type: "bar",
            fontFamily: 'inherit',
            height: 240,
            parentHeightOffset: 0,
            toolbar: {
                show: false,
            },
            animations: {
                enabled: false
            },
            stacked: true,
        },
        plotOptions: {
            bar: {
                columnWidth: '50%',
            }
        },
        dataLabels: {
            enabled: false,
        },
        fill: {
            opacity: 1,
        },
        series: [{
            name: "Design",
            data: [
            {%for proj in projects %}
              '{{proj.data_values.0}}',
            {%endfor%}
        ]
        },{
            name: "Development",
            data: [
            {%for proj in projects %}
              '{{proj.data_values.1}}',
            {%endfor%}
            ]
        },{
            name: "Evaluation",
            data: [
            {%for proj in projects %}
              '{{proj.data_values.2}}',
            {%endfor%}
          ]
        },{
            name: "Operation",
            data: [
            {%for proj in projects %}
              '{{proj.data_values.3}}',
            {%endfor%}
          ]
        },{
            name: "Retirement",
            data: [
            {%for proj in projects %}
              '{{proj.data_values.4}}',
            {%endfor%}
          ]
        }],
        tooltip: {
            theme: 'dark'
        },
        grid: {
            padding: {
                top: -20,
                right: 0,
                left: -4,
                bottom: -4
            },
            strokeDashArray: 4,
            xaxis: {
                lines: {
                    show: true
                }
            },
        },
        xaxis: {
            labels: {
                padding: 0,
            },
            tooltip: {
                enabled: false
            },
            axisBorder: {
                show: false,
            },
            type: 'category',
        },
        yaxis: {
            labels: {
                padding: 4
            },
        },
        labels: [
        {%for proj in projects %}
          '{{proj.name}}',
        {%endfor%}
        ]
        ,
        colors: [tabler.getColor("primary"), tabler.getColor("primary", 0.8), tabler.getColor("primary", 0.6), tabler.getColor("gray-300")],
        legend: {
            show: false,
        },
    })).render();
});
// @formatter:on
</script>


<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    window.ApexCharts && (new ApexCharts(document.getElementById('chart-tasks-overview'), {
      chart: {
        type: "bar",
        fontFamily: 'inherit',
        height: 320,
        parentHeightOffset: 0,
        toolbar: {
          show: true,
        },
        animations: {
          enabled: false
        },
      },
      plotOptions: {
        bar: {
          columnWidth: '50%',
        }
      },
      dataLabels: {
        enabled: false,
      },
      fill: {
        opacity: 1,
      },
      series: [{
        name: "Avarage Maturity",
        data: {{stage_avg}}
      }],
      tooltip: {
        theme: 'dark'
      },
      grid: {
        padding: {
          top: -20,
          right: 0,
          left: -4,
          bottom: -4
        },
        strokeDashArray: 4,
      },
      xaxis: {
        labels: {
          padding: 0,
        },
        tooltip: {
          enabled: false
        },
        axisBorder: {
          show: false,
        },
        categories: {{ stages|safe}}},
      yaxis: {
        labels: {
          padding: 4
        },
      },
      colors: [tabler.getColor("primary")],
      legend: {
        show: false,
      },
    })).render();
  });
  // @formatter:on
</script>



{% endblock javascripts %}