{% extends "layout.html" %}


{% block title %} Projects {% endblock %} 

{% block content %}      
{%load static%}
        <!-- Page header -->
        <div class="page-header d-print-none text-white">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                  <div class="page-pretitle">
                    IRP Assessment
                  </div>
                  <h2 class="page-title">                    
                    {{assessment.project}} - {{assessment.name}}
                  </h2>                
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  {% comment %} <span class="d-none d-sm-inline">
                    <a href="#" class="btn btn-dark">
                      New view
                    </a>
                  </span> {% endcomment %}
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-danger">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 14l-4 -4l4 -4"></path>
                      <path d="M5 10h11a4 4 0 1 1 0 8h-1"></path>
                   </svg>                    Back to Project
                  </a>
                  <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-danger" aria-label="Create new report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 14l-4 -4l4 -4"></path>
                      <path d="M5 10h11a4 4 0 1 1 0 8h-1"></path>
                   </svg>                  </a>                  
                </div>
              </div>              
            </div>
          </div>
        </div>
        <!-- Page body -->
        {%for item in items %}
        <div class="page-body">          
          <div class="container-xl">
            <div class="row  row-cards">              
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <ul class="steps steps-blue steps-counter my-4">
                      <li class="step-item {%if item.stage == "design"%} active {%endif%}"><a href="{%url 'assessment' assessment.id "design"%}">Design</a></li>
                      <li class="step-item {%if item.stage == "development"%} active {%endif%}"><a href="{%url 'assessment' assessment.id "development"%}">Development</a></li>
                      <li class="step-item{%if item.stage == "evaluation"%} active {%endif%}"><a href="{%url 'assessment' assessment.id "evaluation"%}">Evaluation</a></li>
                      <li class="step-item{%if item.stage == "operation"%} active {%endif%}"><a href="{%url 'assessment' assessment.id "operation"%}">Operation</a></li>
                      <li class="step-item{%if item.stage == "retirement"%} active {%endif%}"><a href="{%url 'assessment' assessment.id "retirement"%}">Retirement</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row row-cards">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Category: {{item.template.category}}</h3>
                      </div> 
                      <div class="card-body">
                        <div class="markdown">
                          <h2>Description:</h4> 
                          <p>{{item.template.description}}</p>
                          <p></p>
                        </div>
                        <div class="markdown">
                          <h2>Deliverable:</h4>
                          <p>{{item.template.deliverable_description}}</p>
                          <p></p>
                        </div>                          
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="card">
                      {% comment %} <div class="card-header">
                        <h3 class="card-title">Graph</h3>
                      </div>   {% endcomment %}
                      <div class="card-body">
                        <h4>Progress:{{progress}}/{{total}}</h4>
                        <div class="progress">
                          <div class="progress-bar bg-success" style="width:  {{perc}}%" role="progressbar" aria-valuenow="{{perc}}" aria-valuemin="0" aria-valuemax="100" aria-label="{{perc}}% Complete">
                            <span class="visually-hidden">{{perc}}% Complete</span>
                          </div>                          
                        </div>
                        <div class="pb-2"></div>
                        <h4>Average Maturity: {{avg}}</h4>
                        <div class="progress">
                          <div class="progress-bar" style="width:  {{avgperc}}%" role="progressbar" aria-valuenow="{{avg}}" aria-valuemin="0" aria-valuemax="100" aria-label="{{avgperc}}% Complete">
                            <span class="visually-hidden">Average Maturity: {{avg}}</span>
                          </div>
                        </div>
                        <div class="hr-text">Average Maturity per Step</div>
                        <div id="chart"></div>
                        <script>
                          var options = {
                            series: [{
                            name: 'Average Maturity',
                            data: {{data_values|safe }},
                          }],
                            chart: {
                            height: 340,
                            type: 'radar',
                          },                          
                          xaxis: {
                            categories: {{ stages|safe}} ,
                          }
                          };
                          

                          var chart = new ApexCharts(document.querySelector("#chart"), options);
                          chart.render();
                        
                        </script>
                      </div>                    
                    </div>                    
                  </div>
                </div>                
              </div>
        
              <div class="col-8">
                <form method=POST>
                  {% csrf_token %} 
                  <div class="card">
                    <div class="card-header">                    
                      <h3 class="card-title">Maturity levels:</h3>
                      <div class="card-actions">
                        {%if not item.saved%}
                        <div class="ribbon bg-red">   
                          Not Saved         
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z"></path>
                            <path d="M12 9v4"></path>
                            <path d="M12 17h.01"></path>
                          </svg>
                        </div>                     
                        {%else%}
                        <div class="ribbon bg-green">   
                                  
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                        </svg>
                        </div>  
                        {%endif%}                 
                      </div>                      
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          {%for level in item.template.levels.all %}
                            <h4> {{level.value}}: {{level.name}}</h4>
                            {{level.description}}
                            <p></p>
                          {%endfor%}                          
                        </div>
                        <div class="col-6">
                          {{form.as_p}}
                        </div>                        
                      </div>                    
                    </div>
                    <div class="card-footer">
                      <div class="d-flex">    
                        <ul class="pagination ">                    
                          <li class="page-item {% if not items.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="{% if items.has_previous %}?page={{ items.previous_page_number }}{% endif %}" tabindex="-1" aria-disabled="true">
                              <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                              prev
                            </a>
                          </li>
                          {%for i in nums %}
                            <li class="page-item{%if forloop.counter == items.number%} active {%endif%}">
                              <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                          {%endfor%}
                        <li class="page-item {% if not items.has_next %} disabled {% endif %}"> 
                          <a class="page-link" href="{% if items.has_next %}?page={{ items.next_page_number }}{% endif %}">
                            next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                          </a>
                        </li>
                      </ul>
                        <button type="submit" class="btn btn-primary ms-auto" name = 'action' value = "save-item">Save</button>                      
                      </div>
                    </div>
                  </div> 
                </form>
              </div>              
            </div>
          </div>
        </div>
      </div>
      {%endfor %}

      <div class="modal modal-blur fade" id="modal-danger" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
          <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
              <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
              <h3>Are you sure?</h3>
              <div class="text-muted">If you leave now you will lose unsaved changes!</div>
            </div>
            <div class="modal-footer">
              <div class="w-100">
                <div class="row">
                  <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                      Cancel
                  </a></div>
                  <div class="col"><a href="{%url 'detail' assessment.project.id%}" class="btn btn-danger w-100">
                      Back to project page
                  </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    
  {% endblock content %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}

    <!-- Libs JS -->
    <!-- Tabler Core -->
    <<script src="{% static 'dist/js/tabler.min.js'%}" defer></script>
    <script src="{% static 'dist/js/demo.min.js'%}" defer></script>

    

  {% endblock javascripts %}